<div class="container">
  <div class="row row-header">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
      </ul>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-12">
      <br>
      <h3>Projects</h3>
      <hr>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-12">
      <div ng-if="!showProjects">
        <h3>{{projectsMessage}}</h3>
      </div>
      <div ng-if="showProjects">
        <div class="row row-content">
          <div ng-repeat="project in projects" class="card mx-2 mb-3 col-3">
            <div class="card-body">
              <h5 class="card-title"><a ui-sref="app.project({projectId: project._id})">{{project.name}}</a></h5>
              <canvas id="projectDoughnut" class="chart chart-doughnut"
                      chart-data="[project.healthySuites, project.unhealthySuites]"
                      chart-colors="projectChartColors"
                      chart-labels="projectChartLabels"
                      chart-options="projectChartOptions"></canvas>
              <!-- TODO: last updated calculated -->
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                  <th>Project</th>
                  <th>Healthy Suites</th>
                  <th>Unhealthy Suites</th>
                  <th>Healthy Failed Level</th>
                  <th>Healthy Skipped Level</th>
                  <th>Healthy Disabled Level</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects">
                    <td><a ui-sref="app.project({projectId: project._id})">{{project.name}}</a></td>
                    <td>{{project.healthySuites}}</td>
                    <td>{{project.unhealthySuites}}</td>
                    <td>{{project.healthyFailedLevel}}</td>
                    <td>{{project.healthySkippedLevel}}</td>
                    <td>{{project.healthyDisabledLevel}}</td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination justify-content-center">
          <li ng-if="currentPage <= maxSize" class="page-item disabled"><a class="page-link">Prev</a></li>
          <li ng-if="currentPage > maxSize" class="page-item"><a class="page-link" ng-click="prev10pages(currentPage, listMin, listMax, maxSize, perPage, getProjectsNoScope)">Prev</a></li>
          <li class="page-item" ng-repeat="n in range(listMin, currentPage - 1, 1)"><a class="page-link" ng-click="goToPage(currentPage, listMin, listMax, maxSize, perPage, n, getProjectsNoScope)">{{n}}</a></li>
          <li class="page-item active"><a class="page-link" href>{{currentPage}}</a></li>
          <li class="page-item" ng-repeat="n in range(currentPage + 1, listMax, 1)"><a class="page-link" ng-click="goToPage(currentPage, listMin, listMax, maxSize, perPage, n, getProjectsNoScope)">{{n}}</a></li>
          <li ng-if="totalPages != listMax" class="page-item"><a class="page-link" ng-click="next10pages(currentPage, listMin, listMax, maxSize, perPage, getProjectsNoScope)">Next</a></li>
          <li ng-if="totalPages == listMax" class="page-item disabled"><a class="page-link">Next</a></li>
        </ul>
        <!-- <div class="media">
          <div class="media-left media-middle">
            <img class="media-object img-thumbnail" ng-src={{featuredDish.image}}>
          </div>
          <div class="media-body">
            <h2 class="media-heading">{{featuredDish.name}}
              <span class="label label-danger">{{featuredDish.label}}</span>
              <span class="badge">{{featuredDish.price | currency}}</span>
            </h2>
            <p>{{featuredDish.description}}</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

  <!-- <div class="row row-content">
    <div class="col-xs-12 col-sm-3">
      <h3 align=center>This Month's Promotions</h3>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div ng-if="!showPromotion">
        <h3>{{promoMessage}}</h3>
      </div>
      <div class="media" ng-if="showPromotion">
        <div class="media-body">
          <h2 class="media-heading">{{promotion.name}}
            <span class="label label-danger">{{promotion.label}}</span>
            <span class="badge">{{promotion.price | currency}}</span>
          </h2>
          <p>{{promotion.description}}</p>
        </div>
        <div class="media-right media-middle">
          <img class="media-object img-thumbnail" ng-src={{promotion.image}}>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>Meet our Culinary Specialists</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div ng-if="!showExecChef">
        <h3>{{execChefMessage}}</h3>
      </div>
      <div class="media" ng-if="showExecChef">
        <div class="media-left media-middle">
          <img class="media-object img-thumbnail" ng-src={{execChef.image}}>
        </div>
        <div class="media-body">
          <div class="media-body">
            <h2 class="media-heading">{{execChef.name}} <small>{{execChef.designation}}</small></h2>
            <p>{{execChef.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
