<div class="container" ng-controller="HomeController">
  <div class="row row-header">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
      </ul>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-12">
      <br>
      <h3>Projects</h3>
      <hr>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-12">
      <div ng-if="!showProjects">
        <h3>{{projectsMessage}}</h3>
      </div>
      <div ng-if="showProjects">
        <table class="table">
            <thead>
                <tr>
                  <th>Project</th>
                  <th>Healthy Suites</th>
                  <th>Unhealthy Suites</th>
                  <th>Healthy Failed Level</th>
                  <th>Healthy Skipped Level</th>
                  <th>Healthy Disabled Level</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects">
                    <td><a ui-sref="app.project({projectId: project._id})">{{project.name}}</a></td>
                    <td>{{project.healthySuites}}</td>
                    <td>{{project.unhealthySuites}}</td>
                    <td>{{project.healthyFailedLevel}}</td>
                    <td>{{project.healthySkippedLevel}}</td>
                    <td>{{project.healthyDisabledLevel}}</td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="media">
          <div class="media-left media-middle">
            <img class="media-object img-thumbnail" ng-src={{featuredDish.image}}>
          </div>
          <div class="media-body">
            <h2 class="media-heading">{{featuredDish.name}}
              <span class="label label-danger">{{featuredDish.label}}</span>
              <span class="badge">{{featuredDish.price | currency}}</span>
            </h2>
            <p>{{featuredDish.description}}</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

  <!-- <div class="row row-content">
    <div class="col-xs-12 col-sm-3">
      <h3 align=center>This Month's Promotions</h3>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div ng-if="!showPromotion">
        <h3>{{promoMessage}}</h3>
      </div>
      <div class="media" ng-if="showPromotion">
        <div class="media-body">
          <h2 class="media-heading">{{promotion.name}}
            <span class="label label-danger">{{promotion.label}}</span>
            <span class="badge">{{promotion.price | currency}}</span>
          </h2>
          <p>{{promotion.description}}</p>
        </div>
        <div class="media-right media-middle">
          <img class="media-object img-thumbnail" ng-src={{promotion.image}}>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12 col-sm-3 col-sm-push-9">
      <p style="padding:20px;"></p>
      <h3 align=center>Meet our Culinary Specialists</h3>
    </div>
    <div class="col-xs-12 col-sm-9 col-sm-pull-3">
      <div ng-if="!showExecChef">
        <h3>{{execChefMessage}}</h3>
      </div>
      <div class="media" ng-if="showExecChef">
        <div class="media-left media-middle">
          <img class="media-object img-thumbnail" ng-src={{execChef.image}}>
        </div>
        <div class="media-body">
          <div class="media-body">
            <h2 class="media-heading">{{execChef.name}} <small>{{execChef.designation}}</small></h2>
            <p>{{execChef.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
