<div class="container">
  <div class="row row-header">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
        <li class="breadcrumb-item active">{{project.name}}</li>
      </ul>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-12">
      <br>
      <h3>Project: {{project.name}}</h3>
      <hr>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-12">
      <div ng-if="!showSuites">
        <h3>{{suiteMessage}}</h3>
      </div>
      <div ng-if="showSuites">
        <div class="row row-content">
          <div ng-repeat="suite in suites" class="card mx-2 mb-3 col-3">
            <div class="card-body">
              <h5 class="card-title"><a ui-sref="app.project.suite({suiteId: suite._id})">{{suite.name}}</a></h5>
              <canvas id="suiteDoughnut" class="chart chart-doughnut"
                      chart-data="[suite.passingTests, suite.failingTests, suite.skippedTests, suite. disabledTests]"
                      chart-colors="chartColors"
                      chart-labels="chartLabels"
                      chart-options="chartOptions"></canvas>
              <!-- TODO: last updated calculated -->
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Suite</th>
              <th>Passing Tests</th>
              <th>Failing Tests</th>
              <th>Skipped Tests</th>
              <th>Disabled Tests</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="suite in suites">
              <td><a ui-sref="app.project.suite({suiteId: suite._id})">{{suite.name}}</a></td>
              <td>{{suite.passingTests}}</td>
              <td>{{suite.failingTests}}</td>
              <td>{{suite.skippedTests}}</td>
              <td>{{suite.disabledTests}}</td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination justify-content-center">
          <li ng-if="currentPage <= maxSize" class="page-item disabled"><a class="page-link">Prev</a></li>
          <li ng-if="currentPage > maxSize" class="page-item"><a class="page-link" ng-click="prev10pages(currentPage, listMin, listMax, maxSize, perPage, getSuitesNoScope)">Prev</a></li>
          <li class="page-item" ng-repeat="n in range(listMin, currentPage - 1, 1)"><a class="page-link" ng-click="goToPage(currentPage, listMin, listMax, maxSize, perPage, n, getSuitesNoScope)">{{n}}</a></li>
          <li class="page-item active"><a class="page-link" href>{{currentPage}}</a></li>
          <li class="page-item" ng-repeat="n in range(currentPage + 1, listMax, 1)"><a class="page-link" ng-click="goToPage(currentPage, listMin, listMax, maxSize, perPage, n, getSuitesNoScope)">{{n}}</a></li>
          <li ng-if="totalPages != listMax" class="page-item"><a class="page-link" ng-click="next10pages(currentPage, listMin, listMax, maxSize, perPage, getSuitesNoScope)">Next</a></li>
          <li ng-if="totalPages == listMax" class="page-item disabled"><a class="page-link">Next</a></li>
        </ul>
        <!-- <div class="media">
        <div class="media-left media-middle">
          <img class="media-object img-thumbnail" ng-src={{featuredDish.image}}>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{featuredDish.name}}
            <span class="label label-danger">{{featuredDish.label}}</span>
            <span class="badge">{{featuredDish.price | currency}}</span>
          </h2>
          <p>{{featuredDish.description}}</p>
        </div>
      </div> -->
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
