<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
        <li class="breadcrumb-item"><a ui-sref="app.project">{{project.name}}</a></li>
        <li class="breadcrumb-item active">{{suite.name}}</li>
      </ul>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-12">
      <br>
      <h3>Suite: {{suite.name}}</h3>
      <hr>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-12">
      <div ng-if="!showTests">
        <h3>{{testMessage}}</h3>
      </div>
      <div ng-if="showTests">
        <table class="table">
          <thead>
            <tr>
              <!-- TODO: class my table width -->
              <th>Test Name</th>
              <th style="width: 90px">Curently passing</th>
              <th style="width: 90px">Skipped</th>
              <th style="width: 90px"></th>
              <th style="width: 90px"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="test in tests">
              <td style="word-wrap: break-word;max-width: 160px;"><a ui-sref="app.project.suite.test({testId: test._id, testName: test.name})">{{test.name}}</a></td>
              <td>{{test.currentPassed}}</td>
              <td>{{test.skip}}</td>
              <td><a ng-click="rerun(test._id)" href>Rerun</a></td>
              <td><a ng-click="disable(test._id)" href>Disable</a></td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination justify-content-center">
          <li ng-if="currentPage <= maxSize" class="page-item disabled"><a class="page-link">Prev</a></li>
          <li ng-if="currentPage > maxSize" class="page-item"><a class="page-link" ng-click="prev10pages(currentPage, listMin, listMax, maxSize, perPage, getTestsNoScope)">Prev</a></li>
          <li class="page-item" ng-repeat="n in range(listMin, currentPage - 1, 1)"><a class="page-link" ng-click="goToPage(currentPage, listMin, listMax, maxSize, perPage, n, getTestsNoScope)">{{n}}</a></li>
          <li class="page-item active"><a class="page-link" href>{{currentPage}}</a></li>
          <li class="page-item" ng-repeat="n in range(currentPage + 1, listMax, 1)"><a class="page-link" ng-click="goToPage(currentPage, listMin, listMax, maxSize, perPage, n, getTestsNoScope)">{{n}}</a></li>
          <li ng-if="totalPages != listMax" class="page-item"><a class="page-link" ng-click="next10pages(currentPage, listMin, listMax, maxSize, perPage, getTestsNoScope)">Next</a></li>
          <li ng-if="totalPages == listMax" class="page-item disabled"><a class="page-link">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
