<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
        <li class="breadcrumb-item"><a ui-sref="app.project">{{project.name}}</a></li>
        <li class="breadcrumb-item"><a ui-sref="app.project.suite">{{suite.name}}</a></li>
        <li class="breadcrumb-item active">{{test.name}}</li>
      </ul>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-12">
      <br>
      <h3>Test Runs:</h3>
      <h5>{{test.name}}</h5>
      <hr>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-12">
      <div ng-if="!showTestRuns">
        <h3>{{testRunMessage}}</h3>
      </div>
      <div ng-if="showTestRuns">
        <table class="table">
          <thead>
            <tr>
              <!-- TODO: class my table width -->
              <th style="width: 160px">Date Run</th>
              <th style="width: 90px">Passed</th>
              <th style="width: 90px">Skipped</th>
              <th style="width: 90px">Disabled</th>
              <th>Log</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="testRun in testRuns | orderBy:'-createdAt'">
              <td>{{testRun.createdAt | date : 'short'}}</td>
              <td>{{testRun.passed}}</td>
              <td>{{testRun.skipped}}</td>
              <td>{{testRun.disabled}}</td>
              <td style="max-width: 160px;white-space:pre-wrap">{{testRun.log}}</td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination justify-content-center">
          <li ng-if="currentPage <= maxSize" class="page-item disabled"><a class="page-link">Prev</a></li>
          <li ng-if="currentPage > maxSize" class="page-item"><a class="page-link" ng-click="prev10pages(currentPage, listMin, listMax, maxSize, perPage, getTestRunsNoScope)">Prev</a></li>
          <li class="page-item" ng-repeat="n in range(listMin, currentPage - 1, 1)"><a class="page-link" ng-click="goToPage(currentPage, listMin, listMax, maxSize, perPage, n, getTestRunsNoScope)">{{n}}</a></li>
          <li class="page-item active"><a class="page-link" href>{{currentPage}}</a></li>
          <li class="page-item" ng-repeat="n in range(currentPage + 1, listMax, 1)"><a class="page-link" ng-click="goToPage(currentPage, listMin, listMax, maxSize, perPage, n, getTestRunsNoScope)">{{n}}</a></li>
          <li ng-if="totalPages != listMax" class="page-item"><a class="page-link" ng-click="next10pages(currentPage, listMin, listMax, maxSize, perPage, getTestRunsNoScope)">Next</a></li>
          <li ng-if="totalPages == listMax" class="page-item disabled"><a class="page-link">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
