<div class="container" ng-controller="ProjectController">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="app">Home</a></li>
        <li class="breadcrumb-item"><a ui-sref="app.project">{{project.name}}</a></li>
        <li class="breadcrumb-item"><a ui-sref="app.project.suite">{{suite.name}}</a></li>
        <li class="breadcrumb-item active">{{test.name}}</li>
      </ul>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-12">
      <br>
      <h3>Test Runs:</h3>
       {{test.name}}
      <hr>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-12">
      <div ng-if="!showTestRuns">
        <h3>{{testRunMessage}}</h3>
      </div>
      <div ng-if="showTestRuns">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 240px">Date Run</th>
              <th style="width: 90px">Passed</th>
              <th style="width: 90px">Skipped</th>
              <th style="width: 90px">Disabled</th>
              <th>Log</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="testRun in testRuns">
              <td>{{testRun.createdAt | date : 'medium'}}</td>
              <td>{{testRun.passed}}</td>
              <td>{{testRun.skipped}}</td>
              <td>{{testRun.disabled}}</td>
              <td style="word-wrap: break-word;max-width: 160px;">{{testRun.log}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
