[Unit]
Description=Techorrect Dashboard ExpressJS Backend
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=ec2-user
ExecStart=/home/ec2-user/dashboard/dashboard-server/start_backend.sh
WorkingDirectory=/home/ec2-user/dashboard/dashboard-server/
Restart=on-failure

[Install]
WantedBy=multi-user.target
