<div class="container">
  <div class="row row-content" ng-controller="DishDetailController">
    <div class="col-xs-12" ng-if="!showDish">
      <h3>{{dishMessage}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showDish">
      <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
        Back to Menu
      </button>
      <div ng-if="!showDish">
        <h3>{{dishMessage}}</h3>
      </div>
      <div class="media" ng-if="showDish">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-thumbnail" ng-src={{dish.image}}>
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">{{dish.name}}
              <span class="label label-danger">{{dish.label}}</span>
              <span class="badge">{{dish.price | currency}}</span>
            </h2>
          <p>{{dish.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-9 col-xs-offset-1">
      <h4>Customer Comments
          <small>Sort by:
            <input type="text" ng-model="orderInput">
          </small>
        </h4>
      <blockquote ng-repeat="comment in dish.comments | orderBy:orderInput">
        <p>{{comment.rating}} Stars</p>
        <p>{{comment.comment}}</p>
        <footer>{{comment.author}}, {{comment.date | date:mediumDate}}</footer>
      </blockquote>
    </div>
    <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
      <blockquote ng-show="commentForm.$valid && commentForm.$dirty">
        <p>{{newComment.rating}} Stars</p>
        <p>{{newComment.comment}}</p>
        <footer>{{newComment.author}}</footer>
      </blockquote>
      <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
        <div class="form-group col-xs-12" ng-class="{ 'has-error' : commentForm.customerName.$error.required && !commentForm.customerName.$pristine }">
          <label for="customerName" class="col-sm-3 control-label">Your Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control col-sm-10" id="customerName" name="customerName" ng-Model="newComment.author" placeholder="Enter Your Name" required>
            <p ng-show="commentForm.customerName.$error.required && !commentForm.customerName.$pristine" class="help-block">Name is required.</p>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label class="col-sm-3 control-label">Number of Stars</label>
          <div class="col-sm-9">
            <label class="radio-inline">
              <input type="radio" id="stars1" ng-value="1" name="stars" ng-model="newComment.rating"> 1</label>
            <label class="radio-inline">
              <input type="radio" id="stars2" ng-value="2" name="stars" ng-model="newComment.rating"> 2</label>
            <label class="radio-inline">
              <input type="radio" id="stars3" ng-value="3" name="stars" ng-model="newComment.rating"> 3</label>
            <label class="radio-inline">
              <input type="radio" id="stars4" ng-value="4" name="stars" ng-model="newComment.rating"> 4</label>
            <label class="radio-inline">
              <input type="radio" id="stars5" ng-value="5" name="stars" ng-model="newComment.rating"> 5</label>
          </div>
        </div>
        <div class="form-group col-xs-12" ng-class="{ 'has-error' : commentForm.commentContent.$error.required && !commentForm.commentContent.$pristine }">
          <label for="commentContent" class="col-sm-3 control-label">Your Comments</label>
          <div class="col-sm-9">
            <textarea class="form-control" name="commentContent" id="commentContent" rows="12" ng-model="newComment.comment" placeholder="Enter Comment" required></textarea>
            <p ng-show="commentForm.commentContent.$error.required && !commentForm.commentContent.$pristine" class="help-block">Comments are required.</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
